---
Checks: -*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-nodiscard,
  -modernize-use-auto,
  -modernize-macro-to-enum,
  -readability-named-parameter,
  -readability-magic-numbers,
  -readability-convert-member-functions-to-static,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -readability-function-cognitive-complexity,
  -readability-use-anyofallof,
  -readability-implicit-bool-conversion,
  -readability-simplify-boolean-expr,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-switch-missing-default-case
