---
Checks: -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-*,
  misc-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-switch-missing-default-case,
  -bugprone-macro-parentheses,
  -readability-named-parameter,
  -readability-magic-numbers,
  -readability-convert-member-functions-to-static,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-use-anyofallof,
  -readability-implicit-bool-conversion,
  -readability-simplify-boolean-expr,
  -readability-else-after-return,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion
